* {
    margin: 2px;
    padding: 8px;
    box-sizing: border-box;
}

.all {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

input {
    caret-color: rgb(255, 0, 0);
}
